<div class="px-64 py-7 bg-slate-200">
  <app-vacancy
    *ngFor="let vacancy of vacancies"
    [vacancy]="vacancy"
  ></app-vacancy>
  <div class="h-20 flex justify-center">
    <div class="h-11 py-2 bg-white rounded-[10.4px] flex divide-x shadow-[2px_1px_7px_rgba(0,0,0,0.08),0px_2px_1px_-1px_rgba(0,0,0,0.04),0px_1px_3px_rgba(0,0,0,0.12)]">
      <div>
        <a class="px-6 pb-2 cursor-pointer"><fa-icon class="text-xl text-[#7D859C] hover:text-[#5876C5]" [icon]="prev"></fa-icon></a>
      </div>
      <div class="px-6">
        <a class="px-4 text-xl pb-2 font-bold leading-6 text-[#70778B] cursor-pointer border-transparent hover:border-[#5876C5] border-solid border-b-2 hover:text-[#5876C5]">1</a>
        <a class="px-4 text-xl pb-2 font-bold leading-6 text-[#70778B] cursor-pointer border-transparent hover:border-[#5876C5] border-solid border-b-2 hover:text-[#5876C5]">2</a>
        <a class="px-4 text-xl pb-2 font-bold leading-6 text-[#70778B] cursor-pointer border-transparent hover:border-[#5876C5] border-solid border-b-2 hover:text-[#5876C5]">3</a>
      </div>
      <div>
        <a class="px-6 pb-2 cursor-pointer"><fa-icon class="text-xl text-[#7D859C] hover:text-[#5876C5]" [icon]="next"></fa-icon></a>
      </div>
    </div>
  </div>
</div>
